build==1.4.0
-e git+ssh://git@github.com/hpilo-exporter/hpilo-exporter.git@9c42b6e7bb5a6d8839c4ff753dc6637d7df7ff1a#egg=hpilo_exporter
packaging==25.0
prometheus_client==0.23.1
psutil==7.2.1
pyproject_hooks==1.2.0
python-hpilo==4.4.3
ruff==0.14.14
setuptools==80.9.0
